body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td,
th {
    border: 1px solid black;    
}


tr {
    height: 20px;
    
}

td {
    width: 20px;

    
}

td:click { /* th:hover also if you wish */
  background: yellow;
}

input[type=number] {
    width: 6em;
}

#pixelCanvas {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;     
}

#sizePicker{

}